.form-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 1em;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select,
  .form-group .select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  .message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }
  
  .create-button,
  .add-game-button,
  .top4-guess-button,
  .end-season-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .create-button:hover,
  .add-game-button:hover,
  .top4-guess-button:hover,
  .end-season-button:hover {
    background-color: #0056b3;
  }
  
  .main-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    white-space: nowrap;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
  }
  
  .top-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .urvas-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
  
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .vote-button,
  .update-winner-button,
  .submit-button {
    padding: 5px 5px;
    font-size: 16px;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .vote-button {
    background-color: #28a745;
  }
  
  .vote-button:hover {
    background-color: #218838; 
  }
  
  .update-winner-button {
    background-color: #ffc107;
  }
  
  .update-winner-button:hover {
    background-color: #e0a800; 
  }
  
  .submit-button {
    background-color: #007bff; 
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #dee2e6;
    }
  
    .content-container {
      width: 100%;
      margin-top: 20px;
    }
  
    .top-buttons {
      flex-direction: column;
    }
  
    .buttons-container {
      flex-direction: column;
    }
  }
  